#sidebar {  
    margin-left: 10%;
    padding: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: auto;
     
}

#navbar > header {
    margin: 3px;
  }
  
  #navlinks {
    list-style-type: none;
    gap: 3px;
    margin-left: -35px;
    
  }
  
  #navlinks > li {
    margin-bottom: 10px;
  }

  #main-doc {
    margin-left: 25%;
    padding: 0px 2px;
    
  }
  
  .main-section {
    margin-top: 2rem;
  }
  
  .main-section > header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }
  
  @media (max-width: 769px){
    #sidebar {
      position: static;
      width: 100%
    }
    #main-doc {
      width: 100%;
      margin: 0
    }
  }

  .codeblock {
    background-color: lightgoldenrodyellow;
  }

  .note {
    margin: 1rem 0 1rem 0;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    background-color: #eeeeeef9;
    padding: 0.5rem;
  }

  .main-header {
    padding-top: 0.5rem;
  }

  .footer {
    margin-top: 7rem;
    margin-bottom: 2rem;
  }

  .main-logo {
    max-height: 10rem;
  }

