body {
  background-color: antiquewhite;
}

.linkbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
  margin: 5rem;
  padding: 5rem;
  background-color: cornflowerblue;
  display: grid;
  border-radius: 25px;
}

.item-link {
  background-color: red;
  margin: 2rem;
  padding: 1rem;
  width: 20%;
}