body {
  background-color: #fff;
  padding: 5%;
}

/* styling for the grid containing the project links and descriptions */
.linkbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 1rem;
  padding-top: 3rem;
}

/* styling for the class of individual items within the grid */
.item-link-text {
  text-align: center;
}

/* styling for item images */
.item-link-image {
  border-radius: 30%;
  background-color: #fff;
  display: block;
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  margin: auto;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #000;
}

.blurb {
  color: #000;
  text-align: center;
  margin: 0rem 0rem 0rem 0rem;
}

/* styling for link elements to make the text look like normal text */
a:link {
  text-decoration: none;
  color: #000;
}

/* styling for link elements to make the text look like normal text */
a:visited {
  text-decoration: none;
  color: #000;
}

/* causes items to scale up when hovered over */
.item-link:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/* styling for individual links and defining smooth transition for hover properties */
.item-link {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  display: inline-block;
}


/* each item link is split into two parts, one for the image (left side) and one for the description (right side). This code defines widths and text-alignment */
.left-side,
.right-side {
  display: inline-block;
  vertical-align: top;
  padding: 0.3rem;
  /* border: 1px solid black; */
}

.left-side {
  width: 30%;
}
.right-side {
  text-align: left;
  text-justify: inter-word;
  vertical-align: middle;
  width: 65%;
}

/* Adjust for smaller screens */
@media (max-width: 470px) {
  .linkbox {
    grid-template-columns: repeat(
      auto-fill,
      minmax(10rem, 1fr)
    ); 
  }
}
